<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body>
    <header>
      <h1>Get different products</h1>
      <li><a href ="/products/add">Add Product</a></li>
    </header>

    <main>
      <section>
        <h2>Add Product</h2>
        <form method="POST" action="/products/add">
        <p>
          <label for="title">Products</label>
          <input type="text" class="form-control" name="title" />
        </p>
        <p>
          <button>Add Product</button>
        </p>
        </form>
      </section>




  